<div class="fixed-bottom bg-primary">
  <!-- Control the column width, and how they should appear on different devices -->
  <div class="row">
    <div class="col-sm-6">
      <p class="text-white">
          Copyright : Copyright : Copyright : Copyright : Copyright : Copyright : Copyright
      </p> 
    </div>
    <div class="col-sm-6">
      <p class="text-white">
          Footer : Footer : Footer : Footer : Footer : Footer : Footer : Footer : Footer : Footer
      </p>
    </div>
  </div>
  <br>
</div>