<div class="container">
  <h2>Add or Update Todo </h2>

  <form (ngSubmit)="!todoForm.invalid && saveToDo()" #todoForm="ngForm" class="was-validated">
    <div class="form-group">
      <label for="uname">Username:</label>
      <input type="text" [(ngModel)]="todo.description" minlength="5"
          class="form-control" id="uname" placeholder="Description" name="description" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out the description. Minimum 5 characters</div>
    </div>
    <div class="form-group">
      <label for="pwd">Target Date:</label>
      <input type="date" 
          [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
          (ngModelChange)="todo.targetDate = $event"
          class="form-control" id="targetdate" name="targetDate" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>